<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.jhta.neocom.mapper.CartMapper">
  	<insert id="insert" parameterType="hashmap">
  		insert into cart values(get_seq('cart_Seq'),#{mem_no},#{product_id},1)
  	</insert>
  	
 	<delete id="delete" parameterType="int">
 		delete from cart where cart_no=#{cart_no}
 	</delete> 
 
  	<select id="cartList" resultType="com.jhta.neocom.model.CartVo" parameterType="int">
  		SELECT cart_no,mem_no,product_name,product_count, selling_price, img_name_save 
  		FROM cart c LEFT JOIN product p ON c.product_id = p.product_id 
  		JOIN product_img pi ON c.product_id = pi.product_id where mem_no=#{mem_no}
  	</select>
  	
  	<select id="isMember" parameterType="hashmap" resultType="com.jhta.neocom.model.CartVo">
  		select * from cart where id=#{id} and pwd=#{pwd}
  	</select>
  </mapper>