<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.neocom.mapper.FileMapper">

	<insert id="fileInsert" parameterType="file">
		insert into file values
		(get_seq('fileSeq'),
		#{free_board_no},
		#{file_name_org},
		#{file_name_save},
		0,
		#{file_size}		
		)
	</insert>
	
	<select id="fileList" resultType="hashmap" parameterType="int">
		select * from file where free_board_no=#{free_board_no}
	</select>
	
	<select id="fileInfo" resultType="file" parameterType="int">
		select * from file where file_num=#{file_num}
	</select>
	
	<select id="count">
		select IFnull(count(*),0) from file where free_board_no=#{free_board_no}
	</select>
	
	<select id="findFileNum" resultType="file" parameterType="int">
		select * from file where free_board_no=#{free_board_no}
	</select>
	
	<delete id="fileDelete" parameterType="int">
		delete from file where file_num=#{file_num}
	</delete>

</mapper>