<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.neocom.mapper.QnABoardMapper">

<!-- <insert id="insert" parameterType="qnaboard">
		insert into qna_board 
		values(get_seq('qnaboardSeq'),#{mem_no},#{qna_password},#{qna_secret_chk},#{qna_title},#{qna_content},sysdate(),0,qna_board_no,0,0)
	</insert> -->
	
	<insert id="insert" parameterType="qnaboard">
		insert into qna_board values
		(get_seq('qnaboardSeq'),
		#{mem_no},
		#{qna_password},
		#{qna_secret_chk},
		#{qna_title},
		#{qna_content},
		sysdate(),
		0,
		qna_board_no,
		0,
		0,
		0,
		0
		)
	</insert>
	
	<!-- 답글 -->
	<insert id="insertReply" parameterType="qnaboard">
		insert into qna_board values
		(get_seq('qnaboardSeq'),
		#{mem_no},
		#{qna_password},
		#{qna_secret_chk},
		#{qna_title},
		#{qna_content},
		sysdate(),
		0,
		#{qna_group_no},
		#{qna_group_order}+1,
		#{qna_group_depth}+1,
		0,
		0
		)
	</insert>
	
	<!-- 답글에 답글 -->
	<update id="ReRe" parameterType="qnaboard">
		update qna_board set qna_group_order=qna_group_order+1 where qna_group_no=#{qna_group_no} and qna_group_order>#{qna_group_order}
	</update>
	
	<!-- 답변상태 -->
	<update id="status" parameterType="qnaboard">
		update qna_board set qna_status=#{qna_status} where qna_group_no=#{qna_group_no} and qna_group_depth=#{qna_group_depth}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from qna_board where qna_board_no=#{qna_board_no}
	</delete>
	
	<!-- 원글 삭제 시 답글 있는 경우 -->
	<select id="countReply" resultType="int" parameterType="int">
		select count(*) from qna_board where qna_group_no=#{qna_board_no}
	</select>
	<update id="showDeletePost" parameterType="int">
		update qna_board set qna_show=1, qna_title='', qna_content='' where qna_board_no=#{qna_board_no}
	</update>
	
<!--<select id="deletePost" statementType="CALLABLE">
		call deletePost(#{qna_board_no})
	</select> -->
	
	<update id="update" parameterType="qnaboard">
		update qna_board set 
		qna_title=#{qna_title},
		qna_content=#{qna_content} 
		where qna_board_no=#{qna_board_no}
	</update>
	
	<!-- 게시글 검색 -->
	<sql id="search">
		<choose>
			<when test="field=='combined'">
				where qna_title like CONCAT('%',#{keyword},'%') 
				or qna_content like CONCAT('%',#{keyword},'%')
			</when>
			<otherwise>
				<if test="field!=null and field!=''">
					where ${field} like CONCAT('%',#{keyword},'%')
				</if>
			</otherwise>
		</choose>
	</sql>
	
	<!-- 전체 게시글 수 -->
	<select id="getCount" resultType="int" parameterType="int">
		select IFnull(count(*),0) from qna_board qq inner join member_Info mm on qq.mem_no=mm.mem_no
		<include refid="search" />
	</select>
	
<!-- <select id="list" resultType="hashmap" parameterType="hashmap">
		select n.* ,m.* from qna_board n join member_Info m on n.mem_no=m.mem_no order by qna_board_no desc
	</select> -->
	
	<select id="list" resultType="hashmap" parameterType="hashmap">
		select qq.*,mm.mem_no,mm.Nickname 
		from qna_board qq inner join member_Info mm on qq.mem_no=mm.mem_no 
		<include refid="search" />
		order by qq.qna_group_no desc, qq.qna_group_order asc
		limit #{startRow},10
	</select>
	
	<select id="detail" resultType="hashmap" parameterType="int">
		select qq.*,mm.mem_no,mm.Nickname 
		from qna_board qq inner join member_Info mm on qq.mem_no=mm.mem_no 
		where qna_board_no=#{qna_board_no}
	</select>
	
	<!-- 조회수 -->
	<update id="cntHit">
		update qna_board set qna_hit=qna_hit+1 where qna_board_no=#{qna_board_no}
	</update>
	
	
	<!-- 나의 문의내역 -->
	<select id="myqna" resultType="hashmap" parameterType="int">
		select qq.*,mm.mem_no,mm.Nickname 
		from qna_board qq inner join member_Info mm on qq.mem_no=mm.mem_no 
		where mm.mem_no=#{mem_no} and qq.qna_show=0
		order by qq.qna_regdate desc
	</select>
	
	
	<!-- 어드민용 -->
	<select id="qq_list" resultType="hashmap" parameterType="hashmap">
		select qq.*,mm.mem_no,mm.Nickname 
		from qna_board qq inner join member_Info mm on qq.mem_no=mm.mem_no 
		<include refid="search" />
		order by qq.qna_group_no desc, qq.qna_group_order asc
		limit #{qq_startRow},10
	</select>

</mapper>