<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.neocom.mapper.VisitorCountMapper">
    <insert id="insert" parameterType="com.jhta.neocom.model.VisitorCountVo">
        INSERT INTO TB_VISITOR
            (
                VISIT_ID,
                VISIT_IP,
                VISIT_TIME,
        <if test="visit_refer != null and visit_refer !=''">
                    VISIT_REFER,
                </if>
        VISIT_AGENT
            )
                VALUES
            (
                0,
                #{visit_ip},
                now(),
        <if test="visit_refer != null and visit_refer !=''">
                    #{visit_refer},
                </if>
        #{visit_agent}
            )
    </insert>
    <select id="selectAll" resultType="com.jhta.neocom.model.VisitorCountVo">
        select * from visitor
    </select>
</mapper>